<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <!-- <div>burger</div> -->
            <div>logo i nazwa</div>
            <div>
                <ul class="navbar-list">
                    <li>Glówna</li>
                    <li>Poczekalnia</li>
                    <li>Losowy mem</li>
                    <li>Dodaj mema</li>
                    <li>Ulubione</li>
                    <li>Profil</li>
                </ul>
            </div>
            <div>Wyloguj</div>
        </nav>
    </header>
    <main>
        asdasd
    </main>
    <footer class="footer">
        <div class="container footer-content">
            <ul class="footer-list">
                <li>Regulamin</li>
                <li>|</li>
                <li>Kontakt</li>
                <li>|</li>
                <li>Polityka prwatności</li>
            </ul>
        </div>
    </footer>
</body>
</html>