@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "./variables/variables.css";

@import "./components/navbar.css";
@import "./components/sidebar.css";
@import "./components/footer.css";
@import "./components/card.css";
@import "./components/form.css";
@import "./components/input.css";
@import "./components/textarea.css";
@import "./components/button.css";
@import "./components/toggleButton.css";
@import "./components/meme.css";
@import "./components/memeComment.css";
@import "./components/memeLikes.css";
@import "./components/recommendedMeme.css";
@import "./components/avatarProfile.css";

@import "./login.css";
@import "./home.css";
@import "./profile.css";
@import "./privacyPolicyContent.css";
@import "./addMeme.css";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: var(--navbar-height) 0 0 0;
    padding: 0;
    background-color: var(--main-bg);
}

main {
    padding: var(--navbar-height) 0;
    min-height: calc(100vh - 2*var(--navbar-height));
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 2rem; 
}

h2 {
    font-size: 1.5rem; 
}

h3 {
    font-size: 1.17rem; 
}

h4 {
    font-size: 1rem; 
}

h5 {
    font-size: .83rem; 
}

h6 {
    font-size: .67rem; 
}

.text-center {
    text-align: center;
}

.drop-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.drop-shadow-animate {
    transition: box-shadow var(--default-transition);
}

.drop-shadow-animate:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
}

.container {
    max-width: var(--content-max-width);
    margin: auto;
}

@media screen and (max-width: 1365px) {
    html {
        font-size: 95%;
    }
}

@media screen and (max-width: 1250px) {
    html {
        font-size: 90%;
    }

    .container {
        margin-left: var(--m-1);
        margin-right: var(--m-1);
    }
}

@media screen and (max-width: 1023px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 80%;
    }

    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 75%;
    }
}

.body-container {
    height: calc(100vh - 2*4rem);
    background-color: var(--main-bg);
}