.button {
    width: fit-content;
    padding: var(--m-0-5) 3rem;
    color: var(--white-text);
    background-color: var(--grey-800);
    border: 1px solid var(--black);
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: var(--default-transition);
}

.button:hover {
    color: var(--primary)
}

.button-random-meme {
    padding: 0.75rem 1rem;
    background-color: var(--grey-300);
    border-radius: 1rem;
}
