.footer {
    z-index: var(--z-fixed);
    width: 100%;
    background-color: var(--grey-1000);
    position: relative;
}

.footer-content {
    display: flex;
    height: var(--navbar-height);
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-size: 1.1rem; 
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: var(--m-1);
}

.footer-list > li {
    text-align: center;
    cursor: pointer;
}

.footer-list > li:hover:nth-child(odd) {
    opacity: 0.7;
}

.footer a:link, .footer a:visited {
    color: inherit;
}

@media screen and (max-width: 1024px) {
    .footer-lx-only {
        display: none;
    }
}