.input {
    width: 80%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--grey-400);
    transition: border var(--default-transition);
    font-size: 1rem;
}

.input:focus {
    border-bottom: 2px solid var(--success);
}