.textarea {
    width: 80%;
    min-height: 5em;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--grey-400);
    transition: border var(--default-transition);
    font-size: 1.1rem;
    resize: none;
}

.textarea:hover, .textarea:focus {
    border-bottom: 2px solid var(--success);
}